.title{
margin-bottom:0px;

}

div.gradient-border{

	height: 1px;
    width: auto;  
    background: -webkit-linear-gradient(left,#222 3%,#BBB 30%, #CCC 50%, #BBB 70%, #222 97%);
}

html, body{

	margin: 0;
    font-family: proxima-nova,"Helvetica Neue",Arial,sans-serif;
    background: #EEE;
}
input:focus{

	outline:0;
}

.align-left{

	text-align: left !important;
}

.sandbox .mix:before {

	padding-top: 0;
}

.sandbox .mix{

	padding-right: 0;
    height: 150px;
}

.glyphicon{

	font-size: 30pt;
	margin-top: 350px;
}

#container{

	display: -webkit-flex;
    display: flex;
	min-height: 1200px;
    min-width: 944px;
}

#overdue h1{

	margin: 20px 50px 10px 50px;
    font-size: 24pt;
    font-weight: 200;
	text-transform: uppercase;
}

#leftWrapper{

	width: auto;
    overflow: hidden;

}

#rightWrapper{

    border-left: 2px solid black;
    width: 280px;
    text-align: center;
	background-color: gold;
}

#rightTab{

	border-left: 2px solid black;
	background-color: gold;
	cursor: hand;
	cursor: pointer;
}

#topRibbon{

    align-items: stretch;
    border-bottom: 1px solid #d39a0e;
    border-top: 1px solid #f1b82d;
    box-shadow: 0 0 5px #BBBBBB;
    background: -webkit-linear-gradient(top,#fbe8bc 3%,#f6d075 16%,#f1b82d 75%);
    display: -webkit-flex;
    display: flex;
    flex-direction: row-reverse;
    padding: 6px 2% 10px 1%;
	width: auto;
}
#topRibbon #button-div button{

	border: 1px solid #d39a0e;
    font-size: 18px;
    height: 40px;
    width: 100px;
    margin-top: 12px;
    text-transform: uppercase;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 27px #EEE inset;
}
#topRibbon #scannedText-div{

	width: 100%;
}
#topRibbon #scannedText-div .individual{

    float: left;
	height: 100%;
    width: 50%;
}
#topRibbon #studentID-form{
    margin-left: 2%;
    margin-right: 1%;
}
#topRibbon #barcode-form{
    margin-left: 1%;
    margin-right: 4%;
}
#topRibbon #scannedText-div input{
    width: 100%;
    font-size: 13pt;
    box-shadow: 0 0 27px #EEE inset;
    transition: 500ms all ease;
    border-radius: 5px;
    padding: 0 3px;
}
#topRibbon .scannedText-label{
    text-transform: uppercase;
    font-size: 15pt;
    padding-left: 2px;
    font-weight: 300;
    margin-bottom: 0;
}

#searchRibbon{
    width: auto;
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    margin: 0;
    padding: 10px 2% 10px 12%;
    background: #232323;
    box-shadow: 0 0 5px #BBBBBB;
}
#searchRibbon .sortby{
    color: #ccc;
    font-weight: 200;
    margin: 0 5px;
    font-size: 11pt;
}
#searchRibbon .sortby:hover{
    color: #f1b82d;
    text-decoration: none;
}
#searchRibbon .sortby.clicked{
    color: #f1b82d;
    text-decoration: none;
}
#searchRibbon form{
    width: 50%;
    margin-left: 2%;
}
#searchRibbon div{
    display: -webkit-flex;
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 22px;
    border: solid 1px #f1b82d;
    border-radius: 2px;
}
#searchRibbon .searchBar{
    font-size: 10pt;
    height: 100%;
    width: 100%;
    padding: 0 4px;
    border: 0;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
#searchRibbon .submit{
    font-size: 8pt;
    height: 100%;
    width: 80px;
    padding-top: 0;
    padding-bottom: 0;
    text-transform: uppercase;
    border: 0;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    border-left: solid 1px #f1b82d;
    float: right;
    background: -webkit-linear-gradient(top,#fbe8bc 3%,#f6d075 16%,#f1b82d 75%)
}
#searchRibbon .submit:active{
    background: -webkit-linear-gradient(bottom,#fbe8bc 3%,#f6d075 16%,#f1b82d 75%)
}

#inUse-wrapper{
    padding: 20px 12px 0 12px;
    background: #222;
    min-height: 1000px;
}
#inUse-wrapper .modal{
    height: auto;
    width: auto;
    margin: auto;
    border-radius: 0;
    border: 0;
}
#inUse-wrapper .close{
    position: absolute;
    top: 3px;
    right: 3px;
}
#inUse-wrapper .close:before{
    content: none;
}

#inUse-wrapper .mix button{
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-radius: 0;
    background: none;
}

#inUse-wrapper .mix button:focus{

	outline:0;
}
#inUse-wrapper button:hover{
    background: none;
}

#inUse-wrapper #myModal .modal-body input{
    width: auto;
    padding: 0 6px;
    border: 2px solid black;
}
#inUse-wrapper #addNew .modal-body{
    overflow: hidden;
}
#inUse-wrapper #addNew .modal-body b{
    float: left;
}
#inUse-wrapper #addNew .modal-body input{
    width: 100%;
}
#inUse-wrapper #addNew .modal-body span{
    display: block;
    overflow: hidden;
    padding: 0 5px;
}
#inUse-wrapper #addNew .modal-body button{
    float: right;
}
#inUse-wrapper .modal-body select{
    width: 18px;
    padding-bottom: 5px;
}
#inUse-wrapper .modal-body select:focus{outline: 0;}
#inUse-wrapper .close{
