*{
	
	background-color: #003366;
	color: white;
	font-family: 'Droid Sans', sans-serif;
	font-size: 30pt;
	text-align: center;
	margin: 10px;
}

.border{
	
	border: 5px solid #336699;
}

.hidden{
	
	display: none;
}

.lightHover:hover{
	
	background-color: #336699;
}

.wide{
	
	width: 50%;
}

#uName{
	
	margin-top: 100px;
}